<!DOCTYPE html>
<html lang="en">
<%= render "shared/navbar"%>
  <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="text-align:left;padding-bottom:2em;">
                    <h1><strong>Easy to Hunt</strong></h1><strong style="padding-left:5vw;">Connecting Hunters</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="text-align:center;">
                  <p style="font-size:5vh;color:#fff;"><strong>Clicks Away From the Trip <br> of a Lifetime</strong></p>
                </div>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
                <div class="col-lg-12" style="text-align:center;">
                  <a class="btn btn-default page-scroll" href="#middle" style="color:#fff;background-color:#0074ab;border-radius: 6px; ">Sign Up</a>
                  <strong style="color:#fff">or</strong>
                  <a class="btn btn-default page-scroll" href="#middle" style="background-color:#3a5a98;color:#fff;border-radius: 6px;"><i class="fa fa-facebook"></i><div style="width:10px;display:inline-block;"></div>Connect with Facebook</a>
                </div>
            </div>
            <div class="row">
                <p><div class="col-lg-12">Already a member?   <a class="page-scroll" href="#">Sign in!</a></div></p>
            </div>
        </div>
    </section>

    <!-- Middle Section -->
    <section id="middle" class="middle-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="padding-bottom: 10vh;">
                    <h1 style="color:#fff;"><strong>Because We Understand It Is About Resource Conservation</strong></h1>
                </div>
            </div>
            <div class="infoContainer">
            <div class="row">
              <div class="col-lg-6" style="font-size:5vh;">Recent Trophy's by our members!</div>
              <div class="col-lg-6">Trophy Pics</div>

          </div>
          <div class="row">
            <div class="col-lg-6" style="font-size:5vh;"><strong>What is EasyToHunt.com?</strong><br></div>
            <div class="col-lg-6">EasyToHunt.com is most comprehensive online
            resource to help hunters find and plan successful safe hunts. Hunters,
            guides, outfitters and land owners can connect and plan hunts together
            via our convenient web booking platform.
          </div>
        </div>
          <div class="row">
            <div class="col-lg-6">Trophy Pics</div>
            <div class="col-lg-6"><br>We already have over 2495(We can make this dynamic) listings for
              guides and outfitters and are having new guides and outfitters
              create profile and add trips every day.For additional information
              please see our F.A.Q or contact us at info@EasyToHunt.com.<br></div>
        </div>
      </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="color:#fff;"><strong>AND Spending Time With Family</strong></h1>
                </div>
                <br>
            </div>
            <div class="row">
              <div class="col-lg-4">
            EasyToHunt.com came about as an idea stemming from a bon fire conversation
            about booking hunts and the frustration involved with that process.
            Founded by hunters for hunters, and not created to make money but to
            encourage hunters to make memories.
              </div>
              <br>
              <div class="col-lg-4">
            Hunting trips can be costly and also have a significant safety component.
            It is vital that significant research be done before planning a hunt,
            to give you the best chance at creating a memory, sharing outdoor
            experiences with your loved ones, and also staying safe during that
            enjoyment.
            </div>
            <br>
            <div class="col-lg-4">
            EasyToHunt.com provides a marketplace and research resource unlike
            any other where hunters can seek thorough information on public land,
            guides, outfitters, and lands for lease to hunt.  Our number one goal
            is to create more successful hunts and to provide great hunting
            opportunities to ALL so that their passions of the wild can be exercised.
            </div>
            </div>
            <p>
          <div class="row">
            <div class="col-lg-6">
            We want to hear your experiences whether booked through
            EasyToHunt.com or not. Feel free to message them to us, post the
            photos to your trophy gallery on easytohunt.com, or share them on
            our facebook page. Hunters should be proud of their accomplishments
            and should have forums to share those joys together.
            </div>
            <br>
            <div class="col-lg-6">
            We also appreciate feedback and are continuously finding more guides,
            outfitters, lodges, and public hunting areas. Please at any point in
            time if you think there are things we can do better to serve our hunting
            community don’t hesitate to contact us at Info@Easytohunt.com
            </div>
          </div>
        </p>
        </div>
    </section>

<%= render "shared/footer"%>

    <!-- jQuery -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>

</html>
